<nav class="navbar navbar-dark bg-primary">
  <div class="flex-fill text-sm-center">
    <a class="navbar-brand" routerLink="/">
      <span>önce</span>
      <span class="font-weight-bold">bi</span>
      <span class="font-weight-bolder">bak</span>
    </a>
  </div>

  <div class="flex-fill text-sm-center">
    <a class="navbar-brand link-hover d-none d-sm-inline" routerLink="/">
      <span style="font-size: 1rem;">Anasayfa</span>
    </a>

    <a class="navbar-brand link-hover" routerLink="/about">
      <span style="font-size: 1rem;">Hakkımızda</span>
    </a>

    <a class="navbar-brand link-hover mr-0" routerLink="/contact">
      <span style="font-size: 1rem;">İletişim</span>
    </a>
  </div>
</nav>
