<hr>
<h2>Nasıl Çalışır?</h2>
<div class="card-deck">
  <div class="card">
    <img src="../../../../assets/images/writeSearchBar.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Arama_Barna_Yaz</h5>
      <p class="card-text">Aradığın, almak istediğin veya hakkında veri topladığın tüm teknolojik ürünler ile ilgili yorumları bulmak için atman gereken ilk adım arama barına herhangi bir marka, model adı yaz.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/images/reviewComments.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yorumları İncele</h5>
      <p class="card-text">Aradığın ürün hakkındaki kullanıcı yorumlarını, Türkiye'nin en büyük E-ticaret sitelerinden edinerek kafandaki soru işaretlerini ortadan kaldır.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/images/gotoWebSite.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yorum Yapılan Sitelere Git</h5>
      <p class="card-text">Gereksiz yorumlarla karşılaşmayacağın sitemizde ürünün özellikleri ile ilgili bilgi edinmek istersen yorum yapılan E-ticaret sitesine git.</p>
    </div>
  </div>
</div>
