@import "./src/variables";

.logo {
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 8rem;

  .oncebibak {
    color: $primary;
    font-size: 6rem;
    text-align: left;
    line-height: 1;

    :nth-child(1) {
      font-weight: 400;
    }

    :nth-child(2) {
      font-weight: 600;
    }

    :nth-child(3) {
      font-weight: 900;
    }
  }

  .sonra-al {
    font-family: Photograph Signature, serif;
    font-weight: normal;
    font-size: 7rem;
    color: $secondary;
    text-align: right;
    transform: translate(-824.011px, -149.364px) matrix(1, 0, 0, 1, 886.322, 172.4883) rotate(-3deg);
    line-height: 0;
  }
}

.slogan {
  color: $primary;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3rem;
}

@media screen and (max-width: 992px) {
  .logo {
    margin-bottom: 4rem;


    .oncebibak {
      font-size: 2em;
    }

    .sonra-al {
      font-size: 3em;
      transform: translate(-841.011px, -161.364px) matrix(1, 0, 0, 1, 886.322, 172.4883) rotate(-3deg);
    }
  }
}


