<div class="text-center mt-2">
  <div class="logo">
    <div class="oncebibak">
      <span>önce</span>
      <span>bi</span>
      <span>bak</span>
    </div>
    <div class="sonra-al">
      <span>Sonra al</span>
    </div>
  </div>
  <p class="slogan">
    Türkiye'nin en büyük e-ticaret sitelerindeki kullanıcı yorumlarının bulunduğu sitemize bakmadan almayın
  </p>
</div>
<app-search></app-search>
<app-what-we-do></app-what-we-do>
<app-favorite-products></app-favorite-products>
<app-how-it-works></app-how-it-works>
<app-favorite-comments></app-favorite-comments>
