<img src="../../../assets/images/ID278.png" class="img-fluid" alt="Responsive image">
<div class="card media-body">
  <strong>"Öncebibak Sonra Al" sloganıyla hayata geçirdiğimiz projemizde;</strong>
  <small>senin hayatında artık büyük bir yeri olan alışverişi daha kolay hale getirmeye çalışıyoruz. Gerçekten de günümüzde, bir ürünü elimizle kurcalamadan gözümüzle
    görmeden önce bizi ne gibi sorunlarla karşı karşıya bırakacağını bilmiyoruz. Hatta kullanmaya başladıktan sonra bile ürünün problemleri hakkında bir fikrimiz oluşmuyor. İşte tam da bundan
    dolayı bizler böyle bir hizmetin yokluğunun boşluğunu gördük ve dev e-ticaret sitelerinde yer alan ürünler hakkındaki olumlu ve olumsuz yorumları görmene yardım ediyoruz. Geliştirdiğimiz sistemle
    seni ilgilendirmeyecek yorumları da filtreleyerek önüne çıkarmıyoruz. Senin yapman gereken tek şey almak istediğin ürünün marka ve modelini arama barına yazmak oluyor. Sistemimizin nasıl
    çalıştığını öğrenmek istiyorsan aşağıdaki butona tıklayarak bunu öğrenebilirsin.</small>
</div>
