#about {
  margin-top: 400px;

  #background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: black;
    margin-top: 53px;

    @media only screen and (min-width: 768px) {
      img {
        content: url("../../../assets/images/ID278.png");
      }
    }

    @media only screen and (max-width: 767px) {

      img {
        content: url("../../../assets/images/mobilContact.png");
      }

    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      opacity: 0.5;
    }
  }
}

#text {
  font-size: 20px;
  @media screen and (max-width: 750px) {
    font-size: 16px;
  }
  width: 75%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
