<hr>
<h2>Ne Yaparız?</h2>
<div class="media">
  <img src="../../../../assets/images/question.png" class="align-self-center mr-3" alt="">
  <div class="media-body">
    <h5 class="mt-0">Elektronik</h5>
    <p>Telefon, bilgisayar, tablet vb. elektronik aletleri almak isteyip bir türlü karar veremediğinizi biliyoruz.</p>
  </div>
</div>
<hr>

<div class="media">
  <img src="../../../../assets/images/qu2.png" class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Soru İşratleri</h5>
    <p>Kafanızdaki soru işaretlerini giderecek projemizde amacımız kullanıcı deneyimlerini en kısa yoldan size sunmak.</p>
  </div>
</div>

<hr>
<div class="media">
  <img src="../../../../assets/images/time.png" class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Zamandan Tasarruf</h5>
    <p>Bu bilgileri toplarken zamanınızı çalacak yorumları da geliştirdiğimiz sistemle filtreleyerek önünüze çıkarmıyoruz.</p>
  </div>
</div>

<hr>
<div class="media">
  <img src="../../../../assets/images/glass.png" class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Net Bilgiler</h5>
    <p>Size sadece arama motorumuza herhangi bir teknolojik aletin marka ve modelini yazıp aratmak kalıyor.</p>
  </div>
</div>


