/* You can add global styles to this file, and also import other style files */
@import 'variables';

body {
  font-family: Montserrat, serif !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: transparentize($primary, 0.3);
    border-color: $primary;
  }
}

.text-primary {
  color: $primary;
}

.card {
  box-shadow: 0 0 6px -1px #ccc;
  border: 0;
  padding: 1rem;
}

.head-line-wrapper {
  display: flex;
  align-items: center;
  margin: 3rem 0;

  .line {
    flex: 1;
    border: 1px solid #ccc;
  }

  .title {
    margin: 0 1rem;
    color: $primary;
  }
}

@font-face {
  font-family: 'Photograph Signature';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Photograph Signature.ttf') format('truetype');
}

.btn-yellow {
  color: white;
  background-color: $yellow;
  border-color: $yellow;

  &:hover {
    background-color: transparentize($yellow, 0.3);
    border-color: $yellow;
  }
}
